
.flex{
    display: flex;
}

main{
   /* height: 100vh;*/
    border: 1px solid black;
}
nav{
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
}

.myContacts{
    border: 1px solid black;
}
.image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}


img{
    max-width: 100%;
}
.mainText{
    height: 70vh;
    background-color: bisque;
}

.textFooter{
   height: 10vh;
}
input{
    width: 100%;
}/*div{
    border: 1px solid black;
}*/